body {
  background-color: #FAF3E0;
  margin: 0;
  padding: 0;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
    margin-top:1vw;
    margin-bottom:1.5vw;
  width: 100%;
}

.header-title {
  margin: 0;
  font-size: 2.25vw;
  font-family: 'Dela Gothic One', cursive;
  font-weight: bold;
  text-transform: uppercase;
  color: #603b29;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15); 
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8vw;
  font-family: 'Gabarito', cursive;
}

nav ul li {
  margin-left: 3vw;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #603b29;
  transition: color 0.3s;
  font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0,0.1);
}

nav ul li a:hover {
  color: #ffd99b;
}

.top {
  position: relative;
}

.top-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  transition: filter 0.3s ease-in-out;
}

.image-text a {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6vw;
  color: #fff;
  font-family: 'Gabarito', cursive;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
text-shadow: 4px 6px 6px rgba(0, 0, 0,0.9);}



.bottom {
  padding-top: 1.5vh;
  padding-bottom: 1vh;
  margin: 0;
}

.bottom-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.bottom-image {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;
  padding: 0;
  text-align: center;
  flex: 1;
}

.bottom-image img {
  width: 99%;
  height: auto;
}

.bottom-image a {
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.bottom-image a:hover {
  transform: scale(1.05);
    filter: brightness(80%);
}

footer {
  text-align: center;
  padding: 5px;
}

footer p {
  font-size: 1.5vw;
  font-weight: bold;
  font-family: 'Gabarito', cursive;
  padding: 0;
  margin: 1vw;
}

footer p a {
  font-size: 1.75vw;
  font-weight: bold;
  font-family: 'Gabarito', cursive;
  padding: 0;
  margin: 5px;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline;
}

.social-icons img {
  width: 4%;
  height: auto;
}

.about-us {
  background-color: #F5DEB3;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}

.about-us-title {
  font-size: 1.8vw;
  font-family: 'Gabarito', cursive;
  margin-top: 0;
  margin-bottom: 20px;
}

.titles {
  font-size: 1.6vw;
  font-family: 'Gabarito', cursive;
  margin-top: 0;
  margin-bottom: 20px;
}

.about-us-content {
  font-size: 1.15vw;
  font-family: 'Gabarito', cursive;
  line-height: 1.5;
}

.about-us-content p {
  margin-bottom: 10px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 15px;
}

.page-title {
  font-family: 'Gabarito', cursive;
  font-size: 2.2vw;
  color: #FAF3E0;
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 2vw;
  background-color: #8B4513;
  border-radius: 20px;
  padding: 10px;
}

.categories {
  background-color: #A0522D;
  padding: 1vw;
  border-radius: 20px;
  text-align: center;
  height: 20vw;
  position: sticky;
  top: 12vw;
  z-index: 1;
}

.categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories ul li {
  font-size: 1.5vw;
  font-family: 'Gabarito', cursive;
  padding: 1vw;
}

.categories ul li a {
  text-decoration: none;
  color: #FAF3E0;
  font-weight: bold;
}

.categories ul li a:hover {
  color: #603b29;
}

.menu {
  margin-top: 40px;
  margin-bottom: 30px;
}

.menu-box {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #EAE1C8;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 25px;
}

.menu-items {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2.5vw;
}

.menu-mains {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2.5vw;
}

.menu-desserts {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2.5vw;
}

#starters, #mains, #Beverages, #Desserts {
  font-family: 'Gabarito', cursive;
  font-size: 2vw;
  text-align: center;
  margin: 2.25vw;
}

.menu-item-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.menu-item {
  padding: 1vw;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  border-radius: 20px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

}

.product_name {
  font-size: 1.75vw;
  color: #A0522D;
  font-family: 'Gabarito', cursive;
  margin-top: 1vw;
  margin-bottom: 0;
}

.product_price {
  font-size: 1.65vw;
  color: #A0522D;
  font-family: 'Gabarito', cursive;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.add-to-cart-button {
  background-color: #A0522D;
  color: #FAF3E0;
  padding: 0.75vw 1.75vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

}

.add-to-cart-button:hover {
  background-color: #f57c00;
}

.item-box {
  text-align: center;
}

.item-box img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.cart-table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: 'Gabarito', cursive;
  margin-bottom: 3.5vw;
}


.cart-table th,
.cart-table td {
  border: 1px solid #7D522E;
  padding: 8px;
  text-align: center;
  width: 33.33%;
}

.total-row {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: 'Gabarito', cursive;
  margin-bottom: 3.5vw;
}

.total-row th {
  font-size: 1.6vw;
}

.total-row td {
  font-size: 1.6vw;
}

.total-row th,
.total-row td {
  border: 1px solid #7D522E;
  padding: 1vw;
  text-align: center;
  width: 50%;
  margin-top: 0;
}

.table-head {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: 'Gabarito', cursive;
  margin-bottom: 1vw;
}

.table-head th,
.table-head td {
  font-size: 1.75vw;
  padding: 1vw;
  text-align: center;
  width: 100%;
}

  

.top-image.darken-on-hover:hover {
  filter: brightness(80%); /* Make the image slightly darker on hover */
}
.slider-container {
  position: relative;
  overflow: hidden;
}

.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.15);
  color: #FAF3E0;
  font-size: 3.5vw;
  border: none;
  cursor: pointer;
  width: 4vw; 
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}
    .prev-arrow::before,
.next-arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.3s ease-in-out;
}

.prev-arrow:hover::before,
.next-arrow:hover::before {
  background: rgba(0, 0, 0, 0.15); /* Darker background on hover */
}
.prev-arrow {
  left: 0vw;
}

.next-arrow {
  right: 0vw;
}

